@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All figures */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* End all figures */

/* All letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End all letters */

/* Specific blockquotes */
#chapter-20 blockquote{
	text-align: center;
}

#chapter-21 blockquote p:first-of-type{
	text-indent: 1em;
}
/* End specific blockquotes */

/* Nested quotes */
q{
	font-style: italic;
}
/* End nested quotes */

.telegram{
	font-variant: all-small-caps;
}
